@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: Timer;
    src: url(../fonts/CursedTimerULiL.ttf);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    color: rgb(229, 229, 229);
    /* color: #e0e4cc; */
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: #1B244A;
    overflow-x: hidden;
    text-align: center;
    padding-top: 200px;
}


button {
    font-family: Timer;
    color: #9aabd849;
    background-color: #00000000;
    border: 2px solid #9aabd849;
    padding: 15px 20px 10px 20px;
    margin: 0px 10px 10px 10px;
    font-size: 30px;
    border-radius: 5px;
}

button:hover {
    color: #9AABD8;
    border: 2px solid #9AABD8;

}